# Ignore Python environment folders
venv/
__pycache__/

# Ignore dotenv environment variables file
.env

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore logs and other temporary files
*.log
